# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# You must use a PlanetScale database. This repo depends on the @planetscale/database driver. 
# But you can swap out `drizzle-orm/planetscale-serverless` with a different package to use a different database provider; just make sure it supports the edge runtime.
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_URL='mysql://username:password@region.connect.psdb.cloud:3306/database?ssl={"rejectUnauthorized":true}'

# @see https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL='http://localhost:3000'

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=

# @see https://next-auth.js.org/providers/discord
# DISCORD_CLIENT_ID=
# DISCORD_CLIENT_SECRET=

GITHUB_ID=
GITHUB_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NODE_VERSION=14
